@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/*grijs #899CA0
donkergroen #1C2B32*/


/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*////////////////////////
    2. Typography
////////////////////////*/

body {
    font-family: 'Poppins', sans-serif;
}

/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/

header {
    color: #1C2B32;
    background: url("../assets/images/mountains.jpg") no-repeat center local;
    background-size: cover;
}

header h1 {
    font-size: 80px;
}

header p {
    font-size: 12px;
}

.header-items {
    max-width: 1000px;
    margin: auto;
    padding: 78px 0 265px 0;
    text-align: center;
}

form {
    padding: 40px 0;
}

input {
    background: transparent;
}

::placeholder {
    color: #1C2B32;
}

.header-input {
    padding: 15px 85px 15px 25px;
    margin-right: -5px;
    border-radius: 25px 0 0 25px;
    border: solid 1px #1C2B32;
}

.header-button {
    padding: 15px 50px 15px 15px;
    border-radius: 0 25px 25px 0;
    border: solid 1px #1C2B32;
    color: white;
    background-color: #1C2B32;
}
/*///////////// 3.2 Testimonial /////////////*/
main {
    max-width: 1000px;
    margin: auto;
}

main section h2{
    text-align: center;
    padding: 40px;
}

article {
    position: relative;
    margin-bottom: 40px;
    padding: 40px 75px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.avatar {
    display: table;
}
article p {
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
}

.quote-icon {
    width: 20px;
    position: absolute;
}

.article-text {
    padding-left: 30px;
}

.avatar-img {
    width: 40px;
    margin: 10px 15px 0 30px;
}

/*///////////// 3.3 Support /////////////*/
.callcenter-img {
    width: 100%;
    border-radius: 10px;
    padding: 20px 0;
}

a {
    color: #899CA0;
}

a:hover {
    text-decoration: none;
}

.support-button {
    margin: 15px 0;
    padding: 15px 20px;
    border-radius: 25px;
    border: solid 1px #1C2B32;
    color: white;
    background-color: #1C2B32;

}

/*///////////// 3.4 Faq /////////////*/
details {
    cursor: pointer;
    padding-bottom: 25px;
}


/*///////////// 3.5 Footer /////////////*/
footer {
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    background-color: #1C2B32;
    color: white;
    font-size: 9px;
    font-weight: 400;
}